<div class="row">
    <div class="col-sm-10">
        <h3>Add Movie</h3>
    </div>
    <div class="col-sm-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav>
    </div>
</div>
<div class="card mt-3">
    <form action="/" method="post">
        <div class="card-body pt-3">
            <div class="mb-3">
                <label for="title" class="form-label">Your Todo</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-end mt-2 mb-3">Add Todo</button>
        </div>
    </form>
</div>