<div class="row">
    <div class="col-sm-10">
        <h3>Detail Todo</h3>
    </div>
    <div class="col-sm-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Todo <%= data.id %></li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title"><%= data.title %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.createdAt %> </h6>
        </div>
    </div>
</div>
