<div class="row">
    <div class="col-sm-10 d-inline-flex gap-3">
        <h3>Todo List</h3>
        <a href="/add" class="btn btn-outline-secondary">Create</a>
    </div>
    <div class="col-sm-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
            </ol>
        </nav>
    </div>
</div>

<table class="table mt-3 mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% if (data.currentPageSize === 0) { %>
            <tr>
                <th colspan="5">Data not available.</th>
            </tr>
        <% }else{ %>
        <% let i = 1 %>
        <% data.titles.forEach(title => { 
            if (!title.deletedAt) {
        %>
            <tr>
                <th scope="row"><%= i++ %></th>
                <td><%= title.title %></td>
                <td class="d-inline-flex gap-2">
                    <a href="/detail/<%= title.id %>" class="btn btn-outline-primary">Detail</a>
                    <form action="/delete/<%= title.id %>?_method=DELETE" method="post">
                        <input class="btn btn-outline-danger" type="submit" value="Hapus" onclick="confirm('Apa kamu yakin sudah menyelesaikan ini?')">
                    </form>
                </td>
              </tr>
        <% }else{ %>
            <tr>
                <th scope="row"><%= i++ %></th>
                <td><%= title.title %></td>
                <td class="d-inline-flex gap-2">
                    <form action="/restore/<%= title.id %>" method="post">
                        <input class="btn btn-outline-success" type="submit" value="Pulihkan" onclick="confirm('Apa kamu yakin belum menyelesaikan ini?')">
                    </form>
                </td>
              </tr>
        <% }})}%>
    </tbody>
  </table>


